# Dependencies
node_modules/

# Build output
dist/

# Environment and OS files
.env
.env.*
.DS_Store
*.log
*.swp
*.swo

# IDE
.idea/
.vscode/
*.sublime-*

# Node
npm-debug.log*
yarn-debug.log*
yarn-error.log*